<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>756760632554-ij6881dnbn2fnkujouoclhpu6j0sbhi3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.756760632554-ij6881dnbn2fnkujouoclhpu6j0sbhi3</string>
	<key>API_KEY</key>
	<string>AIzaSyD405IYxfPj9i55hGivx2bNPuMiyDl2ycg</string>
	<key>GCM_SENDER_ID</key>
	<string>756760632554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>practice-flashcards.myFlashCardsApp</string>
	<key>PROJECT_ID</key>
	<string>flash-cardsapp</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-cardsapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:756760632554:ios:9d7216927910ba3ef54b93</string>
</dict>
</plist>